@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,700;1,800&display=swap");

:root {
  --background: #202834;
  --textone: #ccd6f6;
  --texttwo: #8892b0;
  --secondary: #66fcf1;
  --primaryFont: "Dosis";
  --secondaryFont: "Open Sans";
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: var(--primaryFont);
  font-size: 15px;
}

p,
a {
  color: var(--textone);
  font-size: 16px;
  line-height: 1.4rem;
  word-spacing: 0.5rem;
}

body {
  width: 100%;
  background-color: var(--background);
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  color: #ced1d4;
  background: rgba(32, 40, 52, 0.4);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 80px;
  padding-left: 20px;
  backdrop-filter: blur(20px);
}

header > img {
  height: 100%;
  width: auto;
}

main {
  padding: 0 20px 72px 20px;
  background-color: var(--background);
}

.left {
  min-height: calc(100vh - 80px);
  margin-bottom: 24px;
}

#img_section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#image_cont {
  height: 300px;
  width: 100%;
  background-image: url("/images/tobi.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  margin: 48px 0;
}

.myinfo {
  margin-top: 12px;
}

.myinfo > h3:nth-child(1) {
  color: var(--secondary);
  font-size: 1.875rem;
  font-family: var(--secondaryFont);
}
.myinfo > h3:nth-child(2) {
  color: var(--textone);
  font-size: 1.5rem;
  margin: 14px 0;
  font-family: var(--secondaryFont);
}

.myinfo > p {
  margin-top: 6px;
  line-height: 1.4rem;
  word-spacing: 0.5rem;
}

.head,
.work {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 96px;
}

.head > h2,
.work > h2 {
  font-family: var(--secondaryFont);
  font-size: 1.4rem;
  font-weight: 800;
  color: var(--secondary);
}

.head > div,
.work > div {
  background-color: var(--secondary);
  height: 4px;
  width: 40px;
  margin-top: 6px;
  border-radius: 8px;
  margin-right: 40px;
}

.work_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.work_info > p {
  margin-right: 6px;
}

.work_info > p,
.work_info > a {
  flex: 1;
  line-height: 1.4rem;
}

.socials {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  /* margin-bottom: 96px; */
}

.socials > a {
  display: grid;
  place-items: center;
  height: 30px;
  margin-right: 30px;
}

.socials > a > svg {
  height: 60%;
  width: auto;
  fill: var(--secondary);
  transition: all 0.5s ease-in-out;
}

.socials > a:hover > svg {
  margin-bottom: 4px;
  fill: var(--textone);
}

.work_info > a {
  text-decoration: none;
  font-weight: 800;
}

.work_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.work_header > h3 {
  font-size: 1.2rem;
  font-weight: 800;
}

.work_header > p {
  font-size: 0.75rem;
}

.work_section > div:nth-child(1),
.work_section > div:nth-child(2) {
  padding-bottom: 72px;
}

.experience {
  display: flex;
  flex-direction: column;
}

.experience_card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding: 24px 12px;
  margin-bottom: 24px;
  box-shadow: 1px 0px 5px 0px #121a24;
}

.experience_card > div:nth-child(1) {
  width: 120px;
  margin-right: 12px;
}

.experience_card > div > img {
  width: 120px;
}

.experience_info > h4 {
  font-size: 1.1rem;
  font-family: var(--secondaryFont);
  color: var(--secondary);
}
.experience_info > p {
  font-size: 12px;
  word-spacing: 0rem;
  color: var(--texttwo);
}
.experience_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}

.skills {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 24px;
}

.skills svg {
  width: 30px;
  height: auto;
  margin-right: 12px;
  fill: var(--secondary);
}

.projects {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 20px;
}

.projects_card {
  padding: 24px 12px;
  box-shadow: 1px 0px 5px 0px #121a24;
}

.projects_links {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.projects_links a {
  width: 40px;
  display: grid;
  place-items: center;
  background: var(--secondary);
  color: var(--background);
  font-weight: bold;
  font-size: 12px;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

.projects_links a:hover {
  background: var(--background);
  color: var(--secondary);
}

.projects_card > p:nth-child(3) {
  font-family: var(--secondaryFont);
  color: var(--texttwo);
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.projects_card > p:nth-child(2) {
  font-family: var(--secondaryFont);
  color: var(--texttwo);
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.projects_card > div:last-child {
  margin-top: 10px;
}

.projects_card > div:last-child > span {
  color: var(--secondary);
  margin-right: 10px;
}

.line {
  height: 1px;
  width: 100%;
  background-color: var(--texttwo);
  margin: 10px 0;
}

footer {
  background-color: var(--background);
}

footer > div {
  width: 100%;
  display: grid;
  place-items: center;
  padding: 12px 0;
}

footer > div > a {
  display: inline-block;
  height: 40px;
  cursor: pointer;
  margin: 10px 0;
}

footer > div > a > img {
  height: 100%;
  width: auto;
}

@media (min-width: 1024px) {
  main {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 48px;
    padding-bottom: 24px;
    margin-top: 24px;
  }

  .left {
    grid-column: 1/1;
    padding-bottom: 0;
  }

  .work_section > div:nth-child(1),
  .work_section > div:nth-child(2) {
    padding-bottom: 0px;
  }

  .work_section {
    grid-column: 2/4;
  }

  .target {
    padding: 24px 0;
  }

  #image_cont {
    height: 300px;
    width: 100%;
    margin: 0;
  }

  .head,
  .work {
    align-items: center;
    margin-bottom: 48px;
  }

  .head {
    margin-top: 12px;
  }

  .experience {
    gap: 24px;
  }

  .experience_card {
    margin-bottom: 0;
    width: 70%;
    flex-direction: row;
  }

  .experience_card:nth-child(odd) {
    align-self: flex-start;
  }

  .experience_card:nth-child(even) {
    align-self: flex-end;
  }

  .projects {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .theexperience,
  .thework,
  .theskills {
    margin-bottom: 96px;
  }

  footer > div {
    display: flex;
    justify-content: center;
  }

  footer > div > a {
    margin-right: 20px;
  }
}
